<div ng-controller="DemoCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Demo <small>try it out online and for free</small></h1>
			</div>

			<p class="lead">
				Need to try <code>omp4j</code> before installation? No problem! Simply insert your code to the left area
				and click translate button. The preprocessed text will appear in the right area. Easy as breathing.
				Have fun!
			</p>

			<p>
				Please note that the online code transformation is employed as a demo only and isn't meant as a public cloud.
				The <strong>computation time is limited</strong> and <strong>only one file is supported</strong>. Also
				<strong>public classes are forbidden</strong>.
				You are asked to try only basic examples and share the computation power with other users. For more
				complicated resources simply <a href="/download">download</a> the preprocessor and use it locally. Thank you.
			</p>

			<blockquote>
				By clicking the translate button you agree to give up copyright of the code you require to preprocess.
				Furthermore, you agree that the code may be stored, used, sold or whatever we want. It is our code now :)
			</blockquote>
		</div>
	</div>

	<form novalidate class="simple-form">

		<div class="row">
			<!-- <div class=".col-md-2"></div> -->
			<div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
				<button ng-click="translate(demo)" class="btn btn-success form-control text-center" >Translate&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<textarea type="text" ng-model="demo.source" class="form-control" rows="30" placeholder="Enter you Java6/7/8 code here. The press Translate button bellow." /></textarea>
			</div>

			<div class="col-md-6">
				<textarea type="text" ng-model="demo.result" class="form-control" rows="30" placeholder="Result code will appear here."/></textarea>
			</div>
		</div>

	</form>
</div>
